<%- include ("../partials/header") %>


<div class="container" >
  <header class="jumbotron">
    <div class="container" >
      <h1> Welcome to the books page </h1>
      <p> Took me years to write, will you take a look</p>
      <a class="btn btn-primary btn-lg" href="books/new"> Create new book</a>
    </div>
  </header>
  <div class="row text-center" style="display:flex; flex-warp: wrap;">
    <div class="col">
<% books.forEach(function(book){ %>
        <div class="col-md-3 col-sm-6">
             <div class="thumbnail">
               <img src="<%= book.image %>">
               <div class="caption">
                 <h4> <%= book.title %> </h4>
               </div>
               <p>
                 <a href="books/<%= book.id %>" class="btn btn-primary" > More info</a>
               </p>
             </div>
        </div>
<% }); %>
    </div>
  </div>


</div>

<%- include ("../partials/footer") %>
