<%- include ("../partials/header") %>



<h1><%= book.title %></h1>

<img src="<%= book.image %>"> </img>

<% comments.forEach(function(comment){ %>

    <p>
        <strong> <%= comment.author %> </strong> -
        <%= comment.text %>

    </p>

<% })%>

<p><%= book.description %></p>

<%- include ("../partials/footer") %>
